@import "tailwindcss";

@theme inline {
  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
}

@layer utilities {
  .font-display {
    font-family: var(--font-sora);
  }
  .font-sans {
    font-family: var(--font-inter);
  }
}